body {
  background-color: #0e1525;
}

div.vstack {
  background-color: #1c2333;
  padding: 10px 10px;
  border-radius: 25px;
  color: #fff;
}

div.vstack > div {
  padding: 20px;
  border-radius: 20px;
}

div.col {
  width: 48%;
  text-align: center;
  height: inherit;
  padding: 2.5px;
}

div.col > * {
  width: 100%;
}

div.col:nth-child(2n+1) {
    text-align: left;
}

div.row {
  display: flex;
  background-color: #3c445c;
  margin: 10px 0;
  border-radius: 10px;
  padding: 10px 20px ;
  vertical-align: middle;
}

form {
  line-height: 32px;
}

input.form-control {
  width: 97%;
}

button {
  height: 95%;
  display: block;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
}

form#OptionsForm {
  min-width: unset;
  line-height: unset;
}

@media screen and (min-width: 600px) {
  div#root {
    min-width: 600px;
    max-width: 800px;
    width: 60vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}

@media screen and (max-width: 500) {
  div#root {
    /* min-width: 75vw; */
    max-width: 80vh;
    max-height: 100vh;
  }
}