body {
  background-color: #0e1525;
}

main {
  display: flex;
  padding: 25vh 50px;
  justify-content: center;
  width: 90%;
}

div.vstack {
  background-color: #1c2333;
  padding: 30px 50px;
  border-radius: 25px;
  color: #fff;
}

div.vstack > div {
  padding: 20px;
  border-radius: 20px;
}

div.col {
  display: block;
  width: 48%;
  margin: 0;
  text-align: center;
  height: inherit;
  padding: 0;
  vertical-align: middle;

  * {
    width: 100%;
  }
}

div.col > * {
  margin: 5px;
}

div.col:nth-child(2n+1) {
    text-align: left;
}

div.row {
  display: flex;
  text-align: center;
  background-color: #3c445c;
  margin: 10px 0;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  vertical-align: middle;
}

form {
  line-height: 32px;
  min-width: 600px;
}

input.form-control {
  width: 97%;
}

button {
  height: 95%;
  display: block;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
}

form#OptionsForm {
  min-width: unset;
  line-height: unset;
}

@media screen and (max-width: 500px) {
  main {
    padding: 50px 5%;
  }

  div.vstack {
    padding: 5px 10px;
  }

  label.form-label {
    line-height: 16px;
  }
}

@media screen and (min-width: 500px) {
  div.vstack {
    margin-left: auto;
    margin-right: auto;
  }

}